html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;
  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  background-color: limegreen;
  opacity: 0;
  transition: all 200ms linear;

}

.js-box-show {
  opacity: 1;
}


.diamond {
  height: 80px;
  right: 2em;
  top: calc(50% - 40px);
  width: 80px;
  background-color: hotpink;
  transform: rotate(45deg);
  transition: all 200ms linear;
}

.js-diamond-move{
  right: -100px;
}

.panel {
  width: 250px;
  top: 50%;
  background-color: yellow;
  transform: translateY(-50%);
  color: darkgoldenrod;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: all 200ms linear;

}

.js-panel-collapse {
  max-height: 10em;

}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  background-color: orange;
  border-radius: 50%;
}

.js-ball-bounce{
  -webkit-animation: ball-bounce 1s linear;
  animation: ball-bounce 1s linear;
}

@-webkit-keyframes ball-bounce {
  
  0% {
    top:calc(50% - 50px);
    right:1em;
  }

  25% {
    top:calc(50% - 60px);
    right:2em;
  }
  
  50% {
    top:calc(50% - 50px);
    right:3em;
  }

  75% {
    top:calc(50% - 60px);
    right:4em;
  }
  
  90% {
    top:calc(50% - 50px);
    right:5em;
  }

  100% {
    top:calc(50% - 50px);
    right:6em;

  }
}

@keyframes ball-bounce {
  
  0% {
    top:calc(50% - 50px);
    right:1em;
  }

  25% {
    top:calc(50% - 60px);
    right:2em;
  }
  
  50% {
    top:calc(50% - 75px);
    right:3em;
  }

  75% {
    top:calc(50% - 60px);
    right:4em;
  }
  
  90% {
    top:calc(50% - 75px);
    right:5em;
  }

  100% {
    top:calc(50% - 50px);
    right:6em;

  }
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;
  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;
  background-color: plum;
  border: 1px solid mediumpurple;
  color: mediumpurple;
}
